
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p> "Journaling is like whispering to one's self and listening at the same time."

- Mina Murray</p>
  </div>
</div>
</body>
</html>
